<div class="tableWrapper">
<div class="containerTitle">
  <div class="oneTitle"> ProductID </div>
  <div class="twoTitle"> Product Name </div>
  <!-- <div class="threeTitle"> Image </div> -->
  <div class="threeTitle"> Product Details </div>
</div>
<div class="containerListItems" *ngFor="let HProduct of HProducts; let i = index" [style.background-color]="changeColorOne()">

  <div class="one">{{HProduct.HardwareID}}</div>
  <div class="two">{{HProduct.Product_Name}}</div>

  <!-- <div class="three">
      <form [formGroup]="imageForm" (ngSubmit)="onSubmit_Image()">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Show Image
        </button>

        <img [src]="base64Image" style="width:100px;height75px;"/>
      </form>
  </div> -->
  
  <div class="three">
    <button (click)="editHProduct(i)" [routerLink]="['/hProd', HProduct.HardwareID]" > Details </button>
  </div>

<!-- </div>
<button [routerLink]="['/Edit0']" > Add New Product </button>
</div> -->

