<div class="tableWrapper" >

  <div class="flex-box">
    <button [routerLink]="['/products']"> Back </button>
  </div>

  <div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;Type a Product Name">
  </div>

  <table class="tableWrapper">
    <thead>
      <tr>
        <th>ProductID</th>
        <th>Product Name</th>
        <th>Short Description</th>
        <th>Product Details </th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let HProduct of HProducts | filter:searchText | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
      <td class="pointer" (click)="sort('HardwareID')">{{HProduct.HardwareID}}</td>
      <td class="pointer" (click)="sort('Product_Name')" >{{HProduct.Product_Name}}</td>
      <td class="pointer" (click)="sort('Short_Description')">{{HProduct.Short_Description}}</td>
      <td> <button (click)="editHProduct(i)" [routerLink]="['/hProd', HProduct.HardwareID]" > Details </button> </td>
    </tr>
  </tbody>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
 </table>

</div>

