<div class="product-list">

  <div class="centered">
      <h3> Product Management </h3>
      <br>
      <div class="dropdown">
        <button class="dropbtn"> View All Products </button>
        <div class="dropdown-content">
        <a [routerLink]="['/products/0']"> View Hardware Products </a>
        <a [routerLink]="['/products/1']"> View Software Products </a>
        <a [routerLink]="['/products/2']"> View Connectivity/Service Products</a>
        </div>
      </div>
  </div>  

</div> 


