<div class="tableWrapper">
<div class="containerTitle">
  <div class="oneTitle">Software</div>
  <div class="twoTitle">Product Name</div>
  <div class="threeTitle">Product Details</div>
</div>

<div class="containerListItems" *ngFor="let SProduct of SProducts; let i = index" [style.background-color]="changeColorOne()">
  <div class="one">{{SProduct.SoftwareID}}</div>
  <div class="two">{{SProduct.Product_Name}}</div>
  <div class="three">
    <button [routerLink]="['/sProd', SProduct.SoftwareID]" > Details </button>
  </div>


