<div class="tableWrapper">
<div class="containerTitle">
  <div class="oneTitle">HardwareID</div>
  <div class="twoTitle">Product Name</div>
  <div class="threeTitle">Long Description</div>
  <div class="fourTitle">SKU</div>
  <div class="fiveTitle">Tax Category</div>
  <div class="sixTitle">Gift Wrappable</div>
  <div class="sevenTitle">Image URL</div>
  <!-- <div class="threeTitle">Actions</div> -->
</div>

<div class="containerListItems" *ngFor="let HProduct of HProducts; let i = index" [style.background-color]="changeColorOne()">
  <div class="one">{{HProduct.SoftwareID}}</div>
  <div class="two">{{HProduct.Product_Name}}</div>
  <div class="three">{{HProduct.Long_Description}}</div>
  <div class="four">{{HProduct.SKU}}</div>
  <div class="five">{{HProduct.Tax_Category}}</div>
  <div class="six">{{HProduct.Gift_Wrappable}}</div>
  <div class="seven">{{HProduct.Image_URL}}</div>
    <!-- <div class="three">
    <button (click)="editHProduct(i)" [routerLink]="['/hEdit']" >Edit </button>
  </div> -->
</div>
<button [routerLink]="['/hEdit']" > Add New Product </button>
</div>

