<div class="tableWrapper">
  
  <div class="flex-box">
    <button [routerLink]="['/products']"> Back </button>
  </div>

<div class="containerTitle">
  <div class="oneTitle">Software</div>
  <div class="twoTitle">Product Name</div>
  <div class="threeTitle">Short Description</div>
  <div class="fourTitle">Product Details</div>
</div>

<div class="containerListItems" *ngFor="let SProduct of SProducts; let i = index" [style.background-color]="changeColorOne()">
  <div class="one">{{SProduct.SoftwareID}}</div>
  <div class="two">{{SProduct.Product_Name}}</div>
  <div class="two">{{SProduct.Short_Description}}</div>
  <div class="four">
    <button [routerLink]="['/sProd', SProduct.SoftwareID]" > Details </button>
  </div>
</div>

<div>
    <button  (click)="SdecCount()" (click) = "this.getSoftData(this.pager.toString())" class="btn btn-default form-control increaseBtn">Previous</button>
    <button  (click)="SincCount()" (click) = "this.getSoftData(this.pager.toString())"  class="btn btn-default form-control increaseBtn">Next</button>
<div>


