h3 {
  font-size: 30px;
}

.product-list-admin {
  padding-left: 20px;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

button {
  padding: 16px;
  font-size: 16px;
  width: 500px;
  justify-content: center;
}

.dropbtn {
  color: white;
  background-color: #778899;
  padding: 16px;
  font-size: 16px;
  width: 500px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  width: 100%;
  display: none;
  position: absolute;
  background-color: #778899;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(39, 39, 39);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #778899;
}
