<div class="product-list-admin">

  <h3> Types of Products </h3>
  <br>
  <div *ngFor="let product of products; index as productId">
    <h3> {{ product.name }} </h3>
    <p *ngIf="product.description"> Description: {{ product.description }} </p>
    <button class="btn btn-primary" a [title]="product.name + ' details'" [routerLink]="['/products/admin', productId]"> View all  {{ product.name }} products
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    </button> or
    <button class="btn btn-primary" [routerLink]="['/Edit', productId]" > Add New {{ product.name }} Product </button>
  </div>

    <h3> Users Management </h3>
    <button  class="btn btn-primary" a routerLink="/register"> Add New User
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    </button>
    <br>
    <br>
    <button class="btn btn-primary" [routerLink]="['/alluser']" > View all Users </button>

</div> 