/* space in the middle of the button */
button {
  margin:5px
}

/* could move the title of each input box */
label {
  margin:5px
}

/* could move the input box */
input {
  margin:10px
}

select {
  margin:10px
}

#copy {  position: relative; left: 450px }