<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Add New Users</title>
  </head>

  <div class="jumbotron">
    <div class="container-fluid">
      <h3 id="copy">Add New User to PIM System</h3>
      <br>
      <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()" ngNativeValidate>
          <div class="form-group" id="copy">
              <label for="FirstName">First Name</label>
              <input type="text" formControlName="FirstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" required/>
              <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                  <div *ngIf="f.FirstName.errors.required">First Name is required</div>
              </div>
          </div>
          <div class="form-group" id="copy">
              <label for="LastName">Last Name</label>
              <input type="text" formControlName="LastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" required/>
              <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                  <div *ngIf="f.LastName.errors.required">Last Name is required</div>
              </div>
          </div>
          <div class="form-group" id="copy">
              <label for="UserName">Username</label>
              <input type="text" formControlName="UserName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }" required/>
              <div *ngIf="submitted && f.UserName.errors" class="invalid-feedback">
                  <div *ngIf="f.UserName.errors.required">Username is required</div>
              </div>
          </div>
          <div class="form-group" id="copy">
              <label for="UserRole">User Role</label>
              <br>
              <select formControlName="UserRole">
                <option value=admin>Admin</option>
                <option value=user>User</option>
              </select>
              <div *ngIf="submitted && f.UserRole.errors" class="invalid-feedback">
                  <div *ngIf="f.UserRole.errors.required">UserRole is required</div>
              </div>
          </div>
          <div class="form-group" id="copy">
              <label for="Email">Email</label>
              <input type="Email" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" required/>
              <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                  <div *ngIf="f.Email.errors.required">Email is required</div>
              </div>
          </div>
          <div class="form-group" id="copy">
              <label for="Password">Password</label>
              <input type="Password" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" required/>
              <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                  <div *ngIf="f.Password.errors.required">Password is required</div>
                  <!-- <div *ngIf="f.Password.errors.minlength">Password must be at least 6 characters</div> -->
              </div>
          </div>
          <br>
          <div class="form-group" id="copy">
              <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Register
              </button>
              <button  class="btn btn-primary" a routerLink="/products/admin"> Cancel and Go Back
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              </button>
          </div>
      </form>
    </div>  
  </div>    
</html>
